.how-we-work {
   background: $gray2;
}

.how-we-work-desc {
    margin: 0 auto;
    width: 75%;
}

.how-we-work-item  {

    box-sizing: border-box;
    flex-basis: calc(100% / 3);
    padding: 7px;


    @media only screen and (max-width: 900px) {
        flex-basis: calc(100% / 2);
}

    @media only screen and (max-width: 620px) {
        flex-basis: calc(100% / 1);
        text-align: center;
    }


    h3 {
        font-weight: normal;
    }

    img {
        border: 2px solid $white;
        border-radius: 500px;
    }





}

