@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  overflow-x: hidden;
  font-size: 18px;
}
@media (max-width: 950px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 650px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Roboto", Arial, sans-serif;
  min-width: 320px;
  background: #faf6f1;
  color: #888888;
}

h1, h2, h3 {
  font-size: 1.5rem;
  padding-bottom: 15px;
  font-weight: 900;
  color: #2f343a;
}

h1, h2 {
  text-transform: uppercase;
}

figure {
  padding: 0 25px;
}

p {
  line-height: 1.7rem;
}

.raw-html-embed {
  display: block;
  margin: 25px 0;
}

.container {
  position: relative;
  max-width: 1490px;
  margin: 0 auto;
  padding: 0 25px;
}

.row {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.flex {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.black {
  background: #2f343a;
  color: #FFF;
}

a {
  color: #fb9898;
}

.item-1 {
  box-sizing: border-box;
  flex-basis: 100%;
}

.item-2 {
  box-sizing: border-box;
  flex-basis: 50%;
}
@media screen and (max-width: 720px) {
  .item-2 {
    flex-basis: 100%;
  }
}

.item-4 {
  box-sizing: border-box;
  flex-basis: 25%;
}

.item-3 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  padding: 7px;
}

.flex2-div {
  box-sizing: border-box;
  width: 50%;
  text-align: center;
  padding: 50px;
}

.block {
  position: relative;
  display: block;
  z-index: 1;
}

.green {
  background: #5fa6aa;
  color: #FFF;
}

.py-30 {
  padding: 30px 0;
}

.pt-30 {
  padding-top: 30px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-30 {
  padding-bottom: 30px;
}

.py-50 {
  padding: 50px 0;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.error {
  display: flex;
  justify-content: center;
  align-self: center;
  color: red;
  background-color: #f2f2f2;
  padding: 50px;
}

.center {
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .item {
    width: 50%;
  }
  .item-4 {
    flex-basis: 50%;
  }
  .flex2-div {
    flex-basis: 100%;
    background: #777;
  }
}
@media only screen and (max-width: 320px) {
  .item {
    width: 100%;
  }
  .item-4 {
    flex-basis: 100%;
  }
}
.btn, .btn-slider {
  display: inline-block;
  position: relative;
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 10px;
  padding: 10px 15px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0), 0 2px 2px 0 rgba(0, 0, 0, 0), 0 2px 2px 0 rgba(0, 0, 0, 0), 0 7px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0), 0 1px 1px 0 rgba(0, 0, 0, 0);
  overflow: hidden;
}

.btn {
  background: #fb9898;
  text-transform: uppercase;
  font-weight: normal;
}
.btn:hover {
  background: #2f343a;
}

.btn-slider {
  background: #2f343a;
  font-weight: bold;
}
.btn-slider:hover {
  background: #fe7676;
}
.btn-slider::before {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  left: 0;
  top: 0;
  transform: translateX(-4em) skewX(-45deg);
  width: 2.5em;
  content: "";
  filter: blur(10px);
  animation: move-light 3.5s infinite;
  z-index: 1000;
}

@keyframes move-light {
  0% {
    transform: translateX(-4em) skewX(-45deg);
  }
  100% {
    transform: translateX(100em) skewX(-45deg);
  }
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0px;
  z-index: 100;
}
@media screen and (max-width: 800px) {
  .nav {
    justify-content: center;
  }
}

.sticky {
  position: fixed;
  display: block;
  background: #faf6f1;
  top: 0;
  z-index: 1000;
}
@media (max-width: 750px) {
  .sticky {
    padding-bottom: 10px;
  }
}

#logo {
  position: relative;
  align-self: center;
}
@media screen and (max-width: 760px) {
  #logo {
    min-height: 50px;
  }
}
#logo a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  font-size: 2rem;
  padding-left: 65px;
  z-index: 1000;
}
#logo a::before {
  position: absolute;
  background: #6dd4b2;
  width: 2.5rem;
  height: 2.5rem;
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  -webkit-border-bottom-left-radius: 1000px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-top-left-radius: 1000px;
  -webkit-border-top-right-radius: 1000px;
  -moz-border-bottom-left-radius: 1000px;
  -moz-border-bottom-right-radius: 0px;
  -moz-border-top-left-radius: 1000px;
  -moz-border-top-right-radius: 1000px;
  top: -7px;
  left: 0px;
  content: "";
}
#logo a::after {
  background: #fb9898;
  border: 2px solid #FFF;
  padding-top: 2px;
  position: absolute;
  width: 1.5625rem;
  height: 2.625rem;
  border-top-right-radius: 1000px;
  -webkit-border-top-right-radius: 1000px;
  -moz-border-top-right-radius: 1000px;
  top: -7px;
  left: 25px;
  content: "";
}
@media screen and (max-width: 870px) {
  #logo a {
    font-size: 1.5rem;
  }
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  padding: 0 20px;
}
@media screen and (max-width: 820px) {
  .nav-menu {
    padding: 0;
  }
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
}
.menu-list a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
}
.menu-list a:hover {
  color: #fe7676;
}
@media screen and (max-width: 1050px) {
  .menu-list a {
    font-size: 0.9rem;
    justify-content: space-between;
  }
}
@media screen and (max-width: 995px) {
  .menu-list a {
    font-size: 0.8rem;
    justify-content: space-between;
  }
}
@media screen and (max-width: 720px) {
  .menu-list a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 720px) {
  .menu-list {
    justify-content: center;
  }
}
.menu-list li {
  list-style: none;
  padding: 0 10px;
}

.main-menu > li {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
}

.top {
  padding: 0 5px;
  text-align: center;
  position: relative;
  display: block;
}
.top strong {
  color: #fe7676;
  font-weight: normal;
}

.top-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top-menu-item {
  box-sizing: border-box;
  padding: 7px;
}
.top-menu-item:nth-child(even) {
  flex-basis: 50%;
}
@media screen and (max-width: 1110px) {
  .top-menu-item {
    flex-basis: 33.3333333333%;
  }
  .top-menu-item:nth-child(even) {
    flex-basis: 33.3333333333%;
  }
}
@media screen and (max-width: 650px) {
  .top-menu-item {
    flex-basis: 100%;
  }
  .top-menu-item:nth-child(even) {
    flex-basis: 100%;
  }
}

#slider {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.slider-img {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgb(115, 195, 232);
  background: linear-gradient(0deg, rgb(115, 195, 232) 0%, rgb(255, 255, 255) 100%);
  background-size: cover;
}
@media screen and (max-width: 750px) {
  .slider-img {
    opacity: 0.3;
  }
}

.slider-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 1490px;
  min-height: 330px;
}
@media screen and (max-width: 750px) {
  .slider-item {
    width: 100%;
  }
}

.slider-item-txt {
  display: flex;
  flex-flow: column;
  width: 40%;
  justify-content: center;
}
@media screen and (max-width: 1350px) {
  .slider-item-txt {
    width: 30%;
  }
}
@media screen and (max-width: 850px) {
  .slider-item-txt {
    width: 20%;
  }
}
@media screen and (max-width: 750px) {
  .slider-item-txt {
    width: 100%;
    text-align: center;
  }
}
.slider-item-txt h1 {
  font-size: 2.3rem;
  padding-bottom: 10px;
  z-index: 100;
}
@media screen and (max-width: 1450px) {
  .slider-item-txt h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 960px) {
  .slider-item-txt h1 {
    font-size: 1.5rem;
  }
}
.slider-item-txt h3 {
  padding: 5px 0 0 0;
  color: #b64545;
  font-weight: normal;
}
.slider-item-txt h3 > a {
  padding: 0;
  color: #b64545;
  text-decoration: none;
}
@media screen and (max-width: 1000px) {
  .slider-item-txt h3 > a {
    font-size: 1.2rem;
  }
}
.slider-item-txt p {
  color: #076ad0;
  font-weight: bold;
  z-index: 100;
}

.polosa {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: #FFF;
}

.polosa-item {
  box-sizing: border-box;
  flex-basis: 25%;
  padding: 20px 7px;
}
.polosa-item h2, .polosa-item h3 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #FFF;
}
.polosa-item .polosa-item-i {
  padding-bottom: 15px;
  font-size: 3rem;
}
.polosa-item .polosa-item-i a {
  color: #FFF;
}
.polosa-item:nth-child(even) {
  background: #423550;
}
.polosa-item:nth-child(odd) {
  background: #d07f60;
}
.polosa-item:first-child {
  background: #5fa6aa;
}
.polosa-item:last-child {
  background: #4c3739;
}
.polosa-item:hover {
  background: #fe7676;
}
@media screen and (max-width: 820px) {
  .polosa-item {
    flex-basis: 50%;
  }
}
@media screen and (max-width: 420px) {
  .polosa-item {
    flex-basis: 100%;
  }
}

.content-top strong {
  color: #fe7676;
}
.content-top h3 {
  padding-top: 15px;
  text-align: center;
  font-weight: normal;
}

.content-top-item {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 820px) {
  .content-top-item {
    flex-wrap: wrap;
  }
}

.content-top-item figure {
  flex-basis: 20%;
}
@media screen and (max-width: 820px) {
  .content-top-item figure {
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 20px;
  }
}
.content-top-item img {
  max-width: 460px;
}
@media screen and (max-width: 820px) {
  .content-top-item img {
    width: 100%;
  }
}

.content-top-item-txt {
  flex-basis: 80%;
}
@media screen and (max-width: 820px) {
  .content-top-item-txt {
    flex-basis: 100%;
  }
  .content-top-item-txt h2 {
    text-align: center;
  }
}

.why-us {
  background: url("/tpl/byweb/img/why-us.jpg");
}
.why-us a {
  color: #076ad0;
  font-weight: bold;
}
.why-us a:hover {
  color: #ff3841;
}

.why-us-items .item-2 h3 {
  font-size: 1.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

.why-us-icons {
  display: flex;
  margin: 10px 0;
}

.why-us-item-icon {
  display: flex;
  box-sizing: border-box;
  color: #fe7676;
  padding: 60px;
  background: #faf6f1;
  border-radius: 1000px;
  height: 130px;
  width: 130px;
  border: 1px solid #fe7676;
  margin: 0 15px;
  text-align: center;
  justify-content: center;
}

.why-us-item-icon i {
  box-sizing: border-box;
  align-self: center;
  font-size: 54px;
}

.why-us-item-txt {
  width: calc(100% - 130px);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  border: 1px solid gold;
}
@media screen and (max-width: 1350px) {
  .gallery-item {
    flex-basis: 33.3333333333%;
  }
}
@media screen and (max-width: 590px) {
  .gallery-item {
    flex-basis: 50%;
  }
}
@media screen and (max-width: 420px) {
  .gallery-item {
    flex-basis: 100%;
  }
}

.gallery-item-img {
  position: relative;
}
.gallery-item-img img {
  width: 100%;
}

.gallery-item-txt {
  background-color: rgba(15, 88, 92, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  text-align: center;
  color: #FFF;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0;
}
.gallery-item-txt:hover {
  opacity: 1;
  transition: all 1.5s ease;
}

.gallery-item-header a {
  color: #FFF;
}

.gallery-item-link {
  display: block;
  width: 20px;
  height: 20px;
  padding: 10px;
}
.gallery-item-link a > i {
  color: #FFF;
  font-size: 1rem;
}

.gallery-item-header, .gallery-item-link {
  width: 100%;
}

.gallery-btn {
  margin: 0 auto;
  padding: 30px;
}

.calc h2 {
  text-align: center;
  color: #444;
}

.calc-desc {
  text-align: center;
  color: #444;
  padding-bottom: 10px;
}

.calc-descprice {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  height: 200px;
  overflow-y: auto !important;
  margin: 0 auto;
  padding: 22px 30px;
  font-size: 1rem;
  color: #076ad0;
  text-align: left;
  background: #f6f8fa;
  scrollbar-color: #f95a5a #2e3339;
}
.calc-descprice label {
  flex-direction: column;
  padding-left: 20px;
  width: 100%;
}
.calc-descprice .hr {
  display: block;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 10px 0;
  padding: 10px 0;
  color: #fe7676;
  border-top: 1px solid #eee;
  text-align: center;
}

.calc-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.calc-item {
  box-sizing: border-box;
  width: calc(25% - 10px);
  padding-top: 5px;
  margin-right: 10px;
  margin-top: 10px;
}
.calc-item:last-child {
  margin-right: 0px;
}
@media screen and (max-width: 1497px) {
  .calc-item {
    width: 32%;
  }
}
@media screen and (max-width: 1000px) {
  .calc-item {
    width: 49%;
    margin-right: 0px;
  }
}
@media screen and (max-width: 700px) {
  .calc-item {
    width: 100%;
  }
}
.calc-item h4 {
  color: #FFF;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  padding: 30px 18px 25px;
  text-align: center;
  background-color: #fe7676;
  background: linear-gradient(0deg, rgb(245, 117, 117) 0%, rgb(255, 193, 193) 100%);
}
.calc-item h4:hover {
  background: #2f343a;
}

.calc-price {
  background: #6dd4b2;
  text-align: center;
  padding: 15px;
  color: #FFF;
  font-size: 1.8rem;
}

input[type=file], input[type=image], input[type=submit], input[type=reset], input[type=button], input[type=radio], input[type=checkbox] {
  width: auto;
}

input[type=radio] {
  margin: 0px 7px 0 2px !important;
  line-height: normal;
}

input[type=checkbox] {
  margin: 0px 7px 0 2px !important;
  line-height: normal;
}

label, select, button, input[type=button], input[type=reset], input[type=submit], input[type=radio], input[type=checkbox] {
  cursor: pointer;
}

.joomla, .wp, .bitrix, .laravel, .opencart, .php, .vm, .woo {
  float: left;
  padding-left: 25px;
  background: url("/tpl/byweb/img/cms.png") no-repeat;
  height: 20px !important;
  width: 0px;
  margin-top: 3px;
  background-size: 20px;
}

.joomla-cms, .wp-cms, .bitrix-cms, .laravel-cms, .opencart-cms, .php-cms, .vm-cms, .woo-cms {
  padding-left: 25px;
  background: url("/tpl/byweb/img/cms.png") no-repeat;
  height: 20px !important;
  width: 0px;
  margin-top: 3px;
  background-size: 20px;
}

.woo, .woo-cms {
  background-position: 0 -142px;
}

.vm, .vm-cms {
  background-position: 0 -121px;
}

.joomla-cms {
  background-position: 0;
}

.wp, .wp-cms {
  background-position: 0 -20px;
}

.bitrix, .bitrix-cms {
  background-position: 0 -39px;
}

.laravel, .laravel-cms {
  background-position: 0 -79px;
}

.php, .php-cms {
  background-position: 0 -100px;
}

.opencart, .opencart-cms {
  background-position: 0 -59px;
}

#telegram {
  height: 25px;
  width: 25px;
  vertical-align: middle;
}

.how-we-work {
  background: #f6f8fa;
}

.how-we-work-desc {
  margin: 0 auto;
  width: 75%;
}

.how-we-work-item {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  padding: 7px;
}
@media only screen and (max-width: 900px) {
  .how-we-work-item {
    flex-basis: 50%;
  }
}
@media only screen and (max-width: 620px) {
  .how-we-work-item {
    flex-basis: 100%;
    text-align: center;
  }
}
.how-we-work-item h3 {
  font-weight: normal;
}
.how-we-work-item img {
  border: 2px solid #FFF;
  border-radius: 500px;
}

.reviews {
  background: url("/tpl/byweb/img/reviews.jpg");
  color: #444;
}

.review-header {
  font-weight: bold;
  color: #fe7676;
  text-transform: uppercase;
  padding-top: 10px;
  font-size: 0.9em;
}

.reviews-img {
  border: 2px solid #fe7676;
  border-radius: 500px;
  margin-bottom: 10px;
  box-shadow: 0.3rem 0.3rem 1rem rgba(23, 26, 15, 0.31);
  -webkit-box-shadow: 0.3rem 0.3rem 1rem rgba(23, 26, 15, 0.31);
  -moz-box-shadow: 0.3rem 0.3rem 1rem rgba(23, 26, 15, 0.31);
}

.reviews-items .item-1 h3 {
  font-size: 1.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

.reviews-item-txt {
  width: calc(100% - 300px);
  margin: 0 auto;
}
@media screen and (max-width: 980px) {
  .reviews-item-txt {
    width: calc(100% - 50px);
  }
}
@media screen and (max-width: 500px) {
  .reviews-item-txt {
    width: 100%;
  }
}

/*отображать только первый элеент в списке*/
ul[id=review-list] li {
  display: none;
  list-style-type: none;
}
ul[id=review-list] li:first-of-type {
  display: block;
}

/*кнопки вперед назад начало */
.caroufredsel_prev, .caroufredsel_next {
  position: absolute;
  padding-top: 80px;
  cursor: pointer;
  color: #fe7676;
  font-size: 1.5rem;
  /*убираем выделение кнопок*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.caroufredsel_prev {
  left: 0;
  margin-left: 20px;
}

.caroufredsel_next {
  right: 0;
  margin-right: 20px;
}

/*кнопки вперед назад конец */
#footer {
  background: #2f343a;
}
#footer h2 {
  color: #FFF;
}

.footer-desc {
  color: #888;
}

#footer-first-photo {
  padding-right: 10px;
}

#footer-ceo, #footer-qr {
  height: 150px;
  box-shadow: 1.3rem 1.3rem 2.4rem rgba(152, 39, 245, 0.29);
  -webkit-box-shadow: 1.3rem 1.3rem 2.4rem rgba(152, 39, 245, 0.29);
  -moz-box-shadow: 1.3rem 1.3rem 2.4rem rgba(152, 39, 245, 0.29);
  transition: box-shadow 1s;
}
#footer-ceo:hover, #footer-qr:hover {
  box-shadow: 1.3rem 1.3rem 2rem rgba(39, 245, 226, 0.3);
  -webkit-box-shadow: 1.3rem 1.3rem 2rem rgba(39, 245, 226, 0.3);
  -moz-box-shadow: 1.3rem 1.3rem 2rem rgba(39, 245, 226, 0.3);
}

#footer-ceo {
  border: 3px solid #FFF;
  border-radius: 100px;
  filter: sepia(50%);
}
#footer-ceo:hover {
  filter: sepia(0%);
}

#footer-phone a {
  color: #FFF;
}
#footer-phone a:hover {
  color: #f6f8fa;
}

.footer-phone {
  position: relative;
  font-size: 1.8rem;
  font-weight: bold;
  color: #FFF;
  margin: 0 auto;
}
.footer-phone h3 {
  font-size: 1rem;
  color: #fe7676;
  text-transform: uppercase;
}
.footer-phone a {
  color: #FFF;
}
.footer-phone a:hover {
  color: #f6f8fa;
}

.input {
  display: inline;
  box-sizing: border-box;
}
.input input {
  height: 50px;
  width: 26.6666666667%;
}
@media screen and (max-width: 740px) {
  .input input {
    width: 90%;
  }
}

.input input, .textarea textarea {
  box-sizing: border-box;
  border-radius: 7px;
  margin: 7px;
  padding: 20px;
  font-size: 1rem;
  background: #faf6f1;
  outline: 0 !important;
}
.input input:focus, .textarea textarea:focus {
  color: red;
  border: 2px solid #fe7676;
}

.textarea textarea {
  height: 160px;
  width: 80%;
}
@media screen and (max-width: 740px) {
  .textarea textarea {
    width: 90%;
  }
}

.form-button {
  background: #fb9898;
  font-size: 1.3rem;
  color: #FFF;
  margin: 20px;
  padding: 7px 10px;
  border-radius: 7px;
}
.form-button:hover {
  background: #333;
}

.input input, .textarea textarea, .form-button {
  font-family: "Roboto", Arial, sans-serif;
}

.controls {
  box-sizing: border-box;
  width: 97%;
  margin: 0 auto;
}

.alert-danger {
  color: #ff3841;
}

.list-unstyled li {
  list-style-type: none; /* Убираем маркеры */
}

.alert-success {
  color: #6dd4b2;
}
