@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;

0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

@media (max-width: 950px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Roboto", Arial, sans-serif;
  min-width: 320px;
  background: #faf6f1;
}

h1,
h2,
h3 {
  font-size: 1.5rem;
  padding-bottom: 15px;
  font-weight: 900;
}

p {
  line-height: 1.7rem;
}

.raw-html-embed {
  display: block;
  margin: 25px 0;
}

.btn {
  color: #FFF;
  text-decoration: none;
  background: #2f343a;
  border: 1px solid #FFF;
  border-radius: 10px;
  padding: 10px 15px;
  font-weight: bold;
}

.btn:hover {
  background: #fe7676;
}

.container {
  position: relative;
  max-width: 1490px;
  margin: 0 auto;
  padding: 0 25px;
}

.row {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.black {
  background: #2f343a;
  color: #fff;
}

a {
  color: #fe7676;
}

.item-4 {
  box-sizing: border-box;
  flex-basis: 25%;
}

.item-3 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  padding: 7px;
}

.flex2-div {
  box-sizing: border-box;
  width: 50%;
  text-align: center;
  padding: 50px;
}

.block {
  position: relative;
  display: block;
  z-index: 1;
}

.polosa {
  text-align: center;
}

.green {
  background: #5fa6aa;
  color: #FFF;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.error {
  display: flex;
  justify-content: center;
  align-self: center;
  color: red;
  background-color: #f2f2f2;
  padding: 50px;
}

@media only screen and (max-width: 650px) {
  .item {
    width: 50%;
  }

  .item-4 {
    flex-basis: 50%;
  }

  .flex2-div {
    flex-basis: 100%;
    background: #777;
  }
}

@media only screen and (max-width: 320px) {
  .item {
    width: 100%;
  }

  .item-4 {
    flex-basis: 100%;
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0px;
  z-index: 100;
}

@media screen and (max-width: 800px) {
  .nav {
    justify-content: center;
  }
}

.sticky {
  position: fixed;
  display: block;
  background: #faf6f1;
  top: 0;
  z-index: 1000;
}

@media (max-width: 750px) {
  .sticky {
    padding-bottom: 10px;
  }
}

#logo {
  position: relative;
  align-self: center;
}

@media screen and (max-width: 760px) {
  #logo {
    min-height: 50px;
  }
}

#logo a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  font-size: 2rem;
  padding-left: 65px;
  z-index: 1000;
}

#logo a::before {
  position: absolute;
  background: #6dd4b2;
  width: 2.5rem;
  height: 2.5rem;
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  -webkit-border-bottom-left-radius: 1000px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-top-left-radius: 1000px;
  -webkit-border-top-right-radius: 1000px;
  -moz-border-bottom-left-radius: 1000px;
  -moz-border-bottom-right-radius: 0px;
  -moz-border-top-left-radius: 1000px;
  -moz-border-top-right-radius: 1000px;
  top: -7px;
  left: 0px;
  content: "";
}

#logo a::after {
  background: #fb9898;
  border: 2px solid #FFF;
  padding-top: 2px;
  position: absolute;
  width: 1.5625rem;
  height: 2.625rem;
  border-top-right-radius: 1000px;
  -webkit-border-top-right-radius: 1000px;
  -moz-border-top-right-radius: 1000px;
  top: -7px;
  left: 25px;
  content: "";
}

@media screen and (max-width: 870px) {
  #logo a {
    font-size: 1.5rem;
  }
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  padding: 0 20px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
}

.menu-list a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
}

.menu-list a:hover {
  color: #fe7676;
}

@media screen and (max-width: 1050px) {
  .menu-list a {
    font-size: 0.9rem;
    justify-content: space-between;
  }
}

@media screen and (max-width: 995px) {
  .menu-list a {
    font-size: 0.8rem;
    justify-content: space-between;
  }
}

@media screen and (max-width: 720px) {
  .menu-list a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 720px) {
  .menu-list {
    justify-content: center;
  }
}

.menu-list li {
  list-style: none;
  padding: 0 10px;
}

.main-menu > li {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
}

.top {
  padding: 0 5px;
  text-align: center;
  position: relative;
  display: block;
}

.top strong {
  color: #fe7676;
}

.top-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top-menu-item {
  box-sizing: border-box;
  padding: 7px;
}

.top-menu-item:nth-child(even) {
  flex-basis: 50%;
}

@media screen and (max-width: 1000px) {
  .top-menu-item {
    flex-basis: 33.3333333333%;
  }

  .top-menu-item:nth-child(even) {
    flex-basis: 33.3333333333%;
  }
}

@media screen and (max-width: 650px) {
  .top-menu-item {
    flex-basis: 100%;
  }

  .top-menu-item:nth-child(even) {
    flex-basis: 100%;
  }
}

#slider {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.slider-img {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgb(115, 195, 232);
  background: linear-gradient(0deg, rgb(115, 195, 232) 0%, rgb(255, 255, 255) 100%);
  background-size: cover;
}

@media screen and (max-width: 750px) {
  .slider-img {
    opacity: 0.3;
  }
}

.slider-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 1490px;
  min-height: 330px;
}

@media screen and (max-width: 750px) {
  .slider-item {
    width: 100%;
  }
}

.slider-item-txt {
  display: flex;
  flex-flow: column;
  width: 40%;
  justify-content: center;
}

@media screen and (max-width: 1350px) {
  .slider-item-txt {
    width: 30%;
  }
}

@media screen and (max-width: 850px) {
  .slider-item-txt {
    width: 20%;
  }
}

@media screen and (max-width: 750px) {
  .slider-item-txt {
    width: 100%;
    text-align: center;
  }
}

.slider-item-txt h1 {
  font-size: 2.5rem;
  padding-bottom: 10px;
  z-index: 100;
}

@media screen and (max-width: 1450px) {
  .slider-item-txt h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 960px) {
  .slider-item-txt h1 {
    font-size: 1.5rem;
  }
}

.slider-item-txt h3 {
  padding: 5px 0 0 0;
  color: #b64545;
}

.slider-item-txt h3 > a {
  padding: 0;
  color: #b64545;
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .slider-item-txt h3 > a {
    font-size: 1.2rem;
  }
}

.slider-item-txt p {
  color: #076ad0;
  font-weight: bold;
  z-index: 100;
}

