.top-tabs {

    &-header {

        h3 {
            text-transform: uppercase;

        }


    }




    &-item {




        &-header {

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            background: $green2;
            color: $white;

            padding: 10px 20px 10px 40px;

            border-bottom: 1px solid $white;

            cursor: pointer;



        }

        &-title {
            flex-basis: calc(100% - 50px);
            align-self: center;
            @include no-select;
        }


        &-txt {
            padding: 20px 20px;
            display: none;


            img {
                display: block;
                max-width: 100%;
                margin: 20px auto;
            }

            h4 {
                color: $pink;
                text-align: center;
                border-top: 1px solid $white;
                padding-top: 17px !important;
                text-transform: uppercase;
            }

        }
    }


    &-icon {
        position: relative;
        flex-basis: 50px;
        height: 50px;
        background: $white;
        border-radius: 1000px;
        color: $pink;
        font-weight: bold;
        align-self: center;

    i {
      position: absolute;
        font-weight: bold;
        top: calc(35px / 2);
        left: calc(35px / 2);


    }

    }

}



.block, .display {
    position: relative;
    display: block;
    z-index:1;
}
