#slider {
    min-height: 400px;
    height: calc(100vh - 75px - 83px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;



}

.slider {
    min-height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.slider-img {
    position: absolute;
    width: 100%;
    min-height: 400px;
    height: calc(100vh - 75px - 83px);
    background: $blue;
    background: linear-gradient(0deg, rgba(115,195,232,1) 0%, rgba(255,255,255,1) 100%);
    background-size: cover;

    @media screen and (max-width: 750px)  {
        opacity: 0.3;
    }

}

.slider-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: calc(100vh - 75px - 83px);
    //flex-grow: 1;
    justify-content: center;
    width: 1490px;
    min-height: 330px;

    @media screen and (max-width: 750px) {
        width: 100%;
    }

}

.slider-item-txt {

    display: flex;
    flex-flow: column;
    width: 40%;
    justify-content: center;

    @media screen and (max-width: 1350px) {
        width: 30%;
    }

    @media screen and (max-height: 540px) {
       transform: scale(.8);
    }


    @media screen and (max-width: 850px) {
        width: 20%;
    }

    @media screen and (max-width: 750px) {
        width: 100%;
        text-align: center;
    }



    h1 {
        font-size: 2.3rem;
        padding-bottom: 10px;
        z-index: 100;

        @media screen and (max-width: 1450px) {
            font-size: 2rem;
        }

        @media screen and (max-width: 960px) {
            font-size: 1.5rem;
        }

    }

    h3 {
        padding: 5px 0 0 0;
        color: #b64545;
        font-weight: normal;
    }

    h3 > a {
        padding: 0;
        color: #b64545;
        text-decoration: none;

        @media screen and (max-width: 1000px) {

            font-size:1.2rem;

        }

    }

    p {
        color: #076ad0;
        font-weight: bold;
        //font-size: 1.1rem;
        z-index: 100;
    }

}

.white {
    color: $white;

    p {
        color: $white;
    }

    h3 {
        color: $white;
    }
}
