@mixin no-select {

    //отменить выделение текст
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/

}

@mixin shadow-menu {
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@mixin list {

    li {
        margin-left: 20px;
        padding-bottom: 5px;
        //line-height: 40px;
    }

    li::before {
        position: absolute;
        content: "\f107";
        font-family: FontAwesome;
        color:red;
        left: -7px;
        font-weight: bold;


    }

}
