// Body
$body-bg: #f8fafc;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: rgb(115,195,232);
$body-bg: #faf6f1;
$body-clr: #888888;
$indigo: #076ad0;
$purple: #9561e2;
$purple-dark: #423550;
$pink: #fe7676;
$pink-light: #fb9898;
$red: #ff3841;
$orange: #d07f60;
$yellow: #ffed4a;
$green: #6dd4b2;
$green-dark: #5fa6aa;
$cyan: #6cb2eb;
$white: #FFF;
$brown: #4c3739;
$gray: #f6f8fa;
$footer-gray: #888;
$footer-pink: #fb9898;
$black: #2f343a;
$dark: #444;
$form-hover-button: #333;
$hr: #eee;
$gray2: #f6f8fa;
