.input {
    display: inline;
    box-sizing: border-box;
    input {
        height: 50px;
        width: calc(80%/3);

        @media screen and (max-width:740px){
            width: 90%;
        }
    }
}

.input input, .textarea textarea {
    box-sizing: border-box;
    border-radius: 7px;
    margin: 7px;
    padding: 20px;
    font-size: 1rem;
    background: $body-bg;

    outline: 0 !important;

    &:focus {
        color: red;
        border:2px solid $pink;
    }
}

.textarea {
    textarea {
        height: 160px;
        width: 80%;

        @media screen and (max-width:740px){
            width: 90%;
        }
    }
}

.form-button {
    background: $pink-light;
    font-size: 1.3rem;
    color: $white;
    margin: 20px;
    padding: 7px 10px;
    border-radius: 7px;

    &:hover {
        background: $form-hover-button;
    }

}

.input input, .textarea textarea, .form-button {
    font-family: 'Roboto', Arial, sans-serif;
}

.controls {
    box-sizing: border-box;
    width: 97%;
    margin: 0 auto;
}

.alert-danger {
    color: $red;
}

.list-unstyled {
    li {
        list-style-type: none; /* Убираем маркеры */
    }
}

.alert-success {
    color: $green;
}
