
.form {

    &-order {

        color: $green;
        font-size: 1.5rem;
        font-weight: bold;




    }



}


.input {
    display: inline;
    box-sizing: border-box;

    input {
        height: 50px;
        width: calc(80% / 3);

        @media screen and (max-width: 740px) {
            width: 90%;
        }
    }
}

.input input, .textarea textarea {
    box-sizing: border-box;
    border-radius: 7px;
    margin: 7px;
    padding: 20px;
    font-size: 1rem;
    background: $body-bg;

    outline: 0 !important;

    &:focus {
        color: red;
        border: 2px solid $pink;
    }
}

.textarea {
    textarea {
        height: 160px;
        width: 80%;

        @media screen and (max-width: 740px) {
            width: 90%;
        }
    }
}

.form-button {
    background: $pink-light;
    font-size: 1.3rem;
    color: $white;
    margin: 20px;
    padding: 7px 10px;
    border-radius: 7px;

    &:hover {
        background: $form-hover-button;
    }

}

.input input, .textarea textarea, .form-button {
    font-family: 'Roboto', Arial, sans-serif;
}

.controls {
    box-sizing: border-box;
    width: 97%;
    margin: 0 auto;
}

.alert-danger {
    color: $red;
}

.list-unstyled {
    li {
        list-style-type: none; /* Убираем маркеры */
    }
}

.alert-success {
    color: $green;
}

//модальное окно
.form-modal {

    position: fixed;
    display: block;
    background: #fff;

    width: 40%;
    margin: 0 auto;
    height: 20%;
    min-height:200px;

    top: calc(100% / 2 - 100px);
    left: calc(50% / 2);
    right: calc(50% / 2);

    border: 3px solid $footer-gray;

    z-index: 3000;

    @media screen and (max-width: 800px) {
        width: 90%;
        left: 5%;
        right: 5%;
        min-width: 300px;
    }

    //текст уведомления
    &-header {
        //color: $green-dark;
        font-size: 1.8rem;
        font-weight: bold;
        padding: 20px;
        @media screen and (max-width: 500px) {
            font-size: 1.2rem;
        }
    }

    //кнопка закрытия
    &-close {
        position: absolute;
        display: block;

        font-weight: bold;
        font-size: 22px;

        right: calc(-30px / 2);
        top: calc(-30px / 2);

        cursor: pointer;

        background: $purple-dark;
        color: $white;

        border: 2px solid $footer-gray;
        border-radius: 100px;

        width: 30px;
        height: 30px;

        //mixin не выделять
        @include no-select;

        &:hover {
            background: $black;
        }

    }
    //ошибки
    &-errors {
        display: block;
        background: $white;
        color: $dark;
        ul {
            margin: 10px 5px;
        }
        li {
            list-style-type: none; /* Убираем маркеры */
        }

    }
    //пространство за модальным окном
    &-out {
        background:  rgba(0, 125, 215, 0.7);;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 2000;
        display: block;
        top: 0;
        left: 0;
    }
}


