.gallery {
    display: flex;
    flex-wrap: wrap;
    //padding-bottom: 50px;
}

.gallery-item {
    box-sizing: border-box;
    flex-basis: calc(100%/6);
    border: 1px solid gold;

    @media screen and (max-width: 1350px) {
        flex-basis: calc(100%/3);
    }
    @media screen and (max-width: 590px) {
        flex-basis: calc(100%/2);
    }
    @media screen and (max-width: 420px) {
        flex-basis: calc(100%);
    }
}

.gallery-item-img {
    position: relative;

    img {
        width: 100%;
    }



}
.gallery-item-txt {
    //background: #0a90eb;
        background-color: rgba(15, 88, 92, 0.7);

        position: absolute;
        top: 0;

        display: flex;
        flex-direction: column;

        height: 100%;
        width: 100%;

        justify-content: center;
        text-align: center;
        color: $white;
        font-size: 1.5rem;
        font-weight: bold;

        opacity: 0;

    &:hover {
        opacity: 1;
        transition: all 1.5s ease;
    }

}
.gallery-item-header a {
    color: $white;
    text-decoration: none;
}
.gallery-item-link {
    display: block;
    width: 20px;
    height: 20px;
    padding: 10px;




    a > i {
        color: $white;

        font-size: 1rem;
    }
}
.gallery-item-header, .gallery-item-link {


    width: 100%;
}

.gallery-btn {
    margin: 0 auto;
    padding: 30px;
}


