.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    z-index:100;

}

#logo {
    flex-basis: 300px;
    align-self: center;
    //text-align: center;
    padding: 20px 0;
    //z-index: 1000;

    a {
        text-decoration: none;
        font-weight: bold;
        color: #333;
        font-size:2rem;
        z-index: 1000;

    }

}



.nav-menu {
    flex-basis: calc(100% - 300px);
    display: flex;
    justify-content: flex-end;
    align-self: center;
    padding: 0 20px;

}

.menu-list {
    display: flex;

    a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1rem;

        &:hover {
            color:$pink;
        }

    }

    li {
        list-style: none;
        padding: 0 10px;

    }
}


.main-menu > li  {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
}





