//ширина когда показывается бургер
$mobile-width: 730px;
//подменю услуг
    //высота подменю для скроллинга
$mobile-sub-menu-height: 350px;
    //ширина колонки подменю
$mobile-sub-menu-width: 300px;

$planshet-menu-perenos: 856px;

$zindex-burger-menu: 20000;

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //padding: 20px 0px;
    //z-index: $zindex-burger-menu;

    //выравнивание всего меню с лого
    @media screen and (max-width: $planshet-menu-perenos) {
        justify-content: center;

    }

    @media screen and (max-width: $mobile-width) {
        flex-flow: column;
    }

}

.nav-menu {

    display: flex;

    justify-content: flex-end;
    align-self: center;
    padding: 0 20px;


    @media screen and (max-width: $mobile-width) {
        //align-self: start;
        display: block;
        margin-top: 0;
        min-width: 180px;
        width: 100%;

    }


}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
        list-style: none;
        padding: 0 10px;

        @media screen and (max-width: $mobile-width) {
            margin-top: 7px;
            padding: 0 0 10px 0;

        }
    }

    a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        text-transform: uppercase;


        &:hover {
            color: $pink;
        }

    }

    @media screen and (max-width: 1065px) {
        font-size: 0.9rem;
    }
    @media screen and (max-width:1026px) {
        font-size: 0.8rem;
    }

    @media screen and (max-width:$planshet-menu-perenos) {
        font-size: 0.9rem;
    }

    @media screen and (max-width: $mobile-width) {
        display: none;
        font-size: 1rem;
        background: $white;
        padding: 7px 0;
        min-width: 180px;
        width: 100%;

    }


}

.main-menu > li {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
}

/* убираем отступы и поля, а также list-style для "ul",
             * и добавляем "position:relative" */
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;

    /* измените ' +' на любой другой символ, если нужно*/
    li > a:after {
        margin-left: 6px;
        content: "\f107";
        font-family: FontAwesome;
        font-size: 0.8em;
    }

    li > a:only-child:after {
        content: '';
    }
}

/* отображаем выпадающий список при наведении */
nav ul li:hover > ul {

    @media screen and (min-width: $mobile-width) {
        display: inherit;
    }
}

/* скрываем выпадающие списки по умолчанию * и задаем абсолютное позиционирование */
.sub-menu {
    //раскрывает sub-menu
    //display: block;
    display: none;

    width: 100%;
    position: absolute;
    top: 100%;
    z-index: $zindex-burger-menu;

    //убираю размытие с мобилы
    @media screen and (min-width: $mobile-width) {
        background: hsl(0 0% 100%/0.7);
        backdrop-filter: blur(5px);
    }

    @media screen and (max-width: $mobile-width){
            position: absolute;
        //кастыль - работает только для первого меню услуги
            top: 35px;
     }

    &-items {

        display: flex;
        justify-content: space-between;

        box-sizing: border-box;
        //адаптив
        flex-wrap: wrap;
        z-index: $zindex-burger-menu;

        @media screen and (max-width: $mobile-width) {
            overflow-y: scroll;
            height: $mobile-sub-menu-height;
            min-width: $mobile-sub-menu-width;
            width: 100%;
            background: $gray;
        }
    }

    //колонка под меню на 3 части
    &-item {

        width: calc(100% / 3);
        box-sizing: border-box;

        padding-bottom: 15px;

        li {
            padding-left: 0;
            margin-top: 7px;
        }

        @media screen and (max-width: $mobile-width) {

            width: 100%;

            li {
                padding:15px 0 0 0;
                margin-top: 0;
            }

        }

//отступ иконик
        i {
            padding-right: 5px;
        }

    }

    //ссылки подменю
    a {
        font-weight: normal;
        text-transform: none;
        color: $indigo;
        font-size: 0.9rem;

        @media screen and (max-width: $mobile-width) {

            text-transform: uppercase;
        }
    }

    //заголовок подменю
    &-title {
        text-transform: uppercase;
        font-weight: bold;
        color: $pink;
        padding: 30px 0 10px 0;

        @media screen and (max-width: $mobile-width) {
            padding: 15px 0;
            color: $white;
            background: $pink;
            text-align: center;
        }


    }
}

// бурген меню |=|
#menu-burger-button {

    display: none;

    @media screen and (max-width: $mobile-width){

        position: fixed;
        display: block;

        top:0;
        left:20px;
        width: 20px;

        margin: 10px auto;
        padding-top: 10px;

        cursor: pointer;
        font-size: 2em;



    }

}

//открывает меню в мобильно версии по клику
.open-menu {
    display: block;
    position: fixed;

    width: 100%;
    top:70px;
    left:0px;

    @include shadow-menu;

    z-index: $zindex-burger-menu;

    &> li {

        margin-bottom: 10px;
        z-index: $zindex-burger-menu;

        a {
            padding: 0 20px;
        }
    }
}




.open-sub-menu {
    display: block;
    @include shadow-menu;
    z-index: $zindex-burger-menu;
}

//задает отступ для фиксированного бургер-меню
#app {
    @media screen and (max-width: $mobile-width) {
        margin-top: 70px;
    }
}




//фиксированное меню по скроллингу
.sticky {
    position: fixed;
    display: block;
    background: $body-bg;
    top: 0;

    @include shadow-menu;

    z-index: $zindex-burger-menu;


    @media (min-width: $mobile-width) and (max-width: $planshet-menu-perenos) {
        padding-bottom: 20px;
    }

}










