$mobile-width: 730px;

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0px;
    z-index: 100;

    @media screen and (max-width: 800px) {
        justify-content: center;

    }

    @media screen and (max-width: $mobile-width) {
        flex-flow: column;
    }

}

//фиксированное меню по скролу
.sticky {
    position: fixed;
    display: block;
    background: $body-bg;
    top: 0;

    z-index: 1000;

    @media (max-width: 750px) {
        padding-bottom: 10px;
    }
}

#logo {
    //flex-basis: 300px;
    position: relative;
    align-self: center;

    @media screen and (max-width: 760px) {
        min-height: 50px;

    }


    a {
        text-decoration: none;
        font-weight: bold;
        color: #333;
        font-size: 2rem;
        padding-left: 65px;
        z-index: 1000;

        &::before {

            position: absolute;
            background: $green;
            width: 2.5rem; //40px xrem 16px 1 rem
            height: 2.5rem; //40px xrem 16px 1 rem
            border-bottom-left-radius: 1000px;
            border-bottom-right-radius: 0px;
            border-top-left-radius: 1000px;
            border-top-right-radius: 1000px;
            -webkit-border-bottom-left-radius: 1000px;
            -webkit-border-bottom-right-radius: 0px;
            -webkit-border-top-left-radius: 1000px;
            -webkit-border-top-right-radius: 1000px;
            -moz-border-bottom-left-radius: 1000px;
            -moz-border-bottom-right-radius: 0px;
            -moz-border-top-left-radius: 1000px;
            -moz-border-top-right-radius: 1000px;
            top: -7px;
            left: 0px;
            content: '';
        }

        &::after {
            background: $pink-light;
            border: 2px solid $white;
            padding-top: 2px;
            position: absolute;
            width: 1.5625rem; //25px
            height: 2.625rem; //42px
            border-top-right-radius: 1000px;
            -webkit-border-top-right-radius: 1000px;
            -moz-border-top-right-radius: 1000px;
            top: -7px;
            left: 25px;
            content: '';
        }

        @media screen and (max-width: 870px) {
            font-size: 1.5rem;
        }

    }
}

.nav-menu {
    //flex-basis: calc(100% - 300px);
    display: flex;

    justify-content: flex-end;
    align-self: center;
    padding: 0 20px;

    @media screen and (max-width: 908px) {
        margin-top: 30px;
    }
    @media screen and (max-width: $mobile-width) {
        //align-self: start;
        display: block;
        margin-top: 0;
        min-width: 180px;
        width: 100%;

    }


}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;



    li {
        list-style: none;
        padding: 0 10px;

        @media screen and (max-width: $mobile-width) {
            margin-top: 7px;
        }
    }

    a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1rem;

        &:hover {
            color: $pink;
        }

    }



    @media screen and (max-width: 1050px) {
        font-size: 0.9rem;
    }
    @media screen and (max-width: 995px) {
        font-size: 0.8rem;
    }

    @media screen and (max-width: $mobile-width) {
        display: none;
        font-size: 1rem;
        background: $white;
        padding: 10px 0;
        min-width: 180px;
        width: 100%;

    }


}


.main-menu > li {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
}


/* убираем отступы и поля, а также list-style для "ul",
             * и добавляем "position:relative" */
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;


    /* измените ' +' на любой другой символ, если нужно*/
    li > a:after {
        margin-left: 6px;
        content: "\f107";
        font-family: FontAwesome;
        font-size: 0.8em;
    }

    li > a:only-child:after {
        content: '';
    }
}


/* отображаем выпадающий список при наведении */
nav ul li:hover > ul {
    display: inherit;
}

/* скрываем выпадающие списки по умолчанию * и задаем абсолютное позиционирование */
.sub-menu {

    //раскрывает sub-menu
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    z-index: 5000;

    background: hsl(0 0% 100%/0.7);
    backdrop-filter: blur(5px);

    /* измените ' +' на любой другой символ, если нужно*/
    //li > a:after {
    //    content:  ' >';
    //}
    //li > a:only-child:after {
    //    content: '';
    //}


    &-items {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        //адаптив
        flex-wrap: wrap;
    }

    //колонка под меню на 3 части
    &-item {

        width: calc(100% / 3);
        box-sizing: border-box;

        padding-bottom: 15px;

        li {
            padding-left: 0;
            margin-top: 7px;
        }

        i {
            padding-right: 5px;
        }

    }

    //ссылки подменю
    a {
        font-weight: normal;
        text-transform: none;
        color: $indigo;
        font-size: 0.9rem;
    }

    //заголовок подменю
    &-title {
        text-transform: uppercase;
        font-weight: bold;
        color: $pink;
        padding: 30px 0 10px 0;

    }
}

// бурген меню
#menu-burger-button {

    display: none;

    @media screen and (max-width: $mobile-width){
        cursor: pointer;
        display: block;
        width: 20px;
        margin: 10px auto;
        font-size: 2em;

    }

}

//открывает меню в мобильно версии по клику
.open-menu {
    display: block;
}









