.top {
    padding: 0 5px;
    text-align: center;
    position: relative;
    display: block;

    strong {
        color: $pink;
        font-weight: normal;
    }
}

.top-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.top-menu-item {
    box-sizing: border-box;

    padding: 7px;

    &:nth-child(even) {
        flex-basis: calc(100% / 2);
    }

    @media screen and (max-width: 1155px) {

        flex-basis: calc(100% / 3);

        &:nth-child(even) {
            flex-basis: calc(100% / 3);
        }


        font-size: 0.8rem;

    }

    @media screen and (max-width: 650px) {
        flex-basis: 100%;
        &:nth-child(even) {
            flex-basis: calc(100%);
        }


        font-size: 1rem;


    }
}
